<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" :class="$route.name == 'all-product' ? 'active' : ''">
                        <router-link to="/" class="nav-link">Product List</router-link>
                    </li>
                    <li class="nav-item" :class="$route.name == 'order' ? 'active' : ''">
                        <router-link to="/order-list" class="nav-link">Order List</router-link>
                    </li>
                    <li class="nav-item" :class="$route.name == 'category' ? 'active' : ''">
                        <router-link to="/categories-list" class="nav-link">Categories List</router-link>
                    </li>
                    <li class="nav-item" :class="$route.name == 'customers' ? 'active' : ''">
                        <router-link to="/customer-list" class="nav-link">Customers List</router-link>
                    </li>
                </ul>
            </div>
        </div>

    </nav>
</template>

<script>
    export default {
        name: "Navbar"
    }
</script>

<style scoped>

</style>
