<template>
    <section>
        <div class="card">
            <div class="card-header">Categories</div>
            <div class="card-body" v-if="category.length > 0 && category !== null">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Category ID</th>
                        <th scope="col">Category</th>
                        <th scope="col">Total Image</th>
                        <th scope="col">Status</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(cat,index) of category">
                        <th scope="row">{{ index +1}}</th>
                        <td>{{ cat.id }}</td>
                        <td><button class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></button>  {{ cat.name }} </td>
                        <td>{{ cat.image_file }} </td>
                        <td>{{ cat.is_visible ? "Active" : 'In-Active' }}</td>
                        <td><button class="btn btn-danger btn-sm" @click="DeleteCategory(cat.id)">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "OrderList",
        data() {
            return {
                category: []
            }
        },
        methods: {
            getCategory() {
                let _this = this;
                axios.get('/api/all-categories').then(response => {
                    _this.category = response.data;
                    console.log(response.data);
                }).catch(e => {

                })
            },
            DeleteCategory(id) {
                let _this = this;
                axios.post('/api/delete-cat',{id:id})
                    .then(response => {
                        _this.getCategory();
                    }).catch(e => {

                })
            }
        },
        mounted() {
            this.getCategory()
        }
    }
</script>

<style scoped>

</style>
