<template>
    <section>

        <div class="card">
            <div class="card-header">Create Product
                <router-link to="/" style="float:right;"
                             class="nav-link btn btn-primary">Back</router-link>
            </div>

            <div class="card-body">
                <div class="container">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Product Name</label>
                        <input type="email" class="form-control"
                               v-model="product.name"
                               id="exampleInputEmail1"
                               aria-describedby="emailHelp"
                               placeholder="Enter product name" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Price</label>
                        <input type="number" class="form-control"
                               v-model="product.price"
                               id="exampleInputFirstName" aria-describedby="emailHelp"
                               placeholder="Enter product price" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Category</label>
                        <select class="form-control" v-model="product.categories">
                            <option selected :value="'cat'">Choose Province</option>
                            <option v-for="option in category" :value="[option.id]" >{{ option.name }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Weight</label>
                        <input type="number" class="form-control"
                               v-model="product.weight"
                               id="exampleInputCompany" aria-describedby="emailHelp" placeholder="Enter company Name" required>
                    </div>

                    <button class="btn btn-primary" @click="CreateProduct">Create</button>

                </div>
            </div>
        </div>


    </section>
</template>

<script>
    export default {
        name: "CreateProduct",
        data() {
            return {
                product : {
                    name : null,
                    categories : 'cat',
                    price : null,
                    weight : null,
                    type : 'physical',
                    availability : "available",
                },
                category : [],
            }
        },
        methods: {
            CreateProduct() {
                let _this = this;
                console.log(_this.product)
                if (_this.product.name && _this.product.category !== 'cat' && _this.product.price && _this.product.weight !== null ){
                    axios.post('/api/add-product',_this.product)
                        .then(response => {
                            console.log(response)
                            _this.$router.push({ name: 'all-product' })
                        }).catch(e => {
                            console.error(e);
                        })
                }

            },
            getCategory() {
                let _this = this;
                axios.get('/api/all-categories').then(response => {
                    _this.category = response.data;
                }).catch(e => {

                })
            },
        },
        mounted() {
            console.log()
            this.getCategory();
        }
    }
</script>

<style scoped>

</style>
