<template>
    <section>

        <div class="card">
            <div class="card-header">Create Customer
                <router-link to="/customer-list" style="float:right;"
                             class="nav-link btn btn-primary">Back</router-link>
            </div>

            <div class="card-body">
                <div class="container">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email address</label>
                            <input type="email" class="form-control"
                                   v-model="customer.email"
                                   id="exampleInputEmail1"
                                   aria-describedby="emailHelp"
                                   placeholder="Enter email" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email First Name</label>
                            <input type="text" class="form-control"
                                   v-model="customer.first_name"
                                   id="exampleInputFirstName" aria-describedby="emailHelp" placeholder="Enter First Name" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Last Name</label>
                            <input type="text" class="form-control"
                                   v-model="customer.last_name"
                                   id="exampleInputlasttName" aria-describedby="emailHelp" placeholder="Enter Last Name" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Phone</label>
                            <input type="number" class="form-control"
                                   v-model="customer.phone"
                                   id="exampleInputPhone" aria-describedby="emailHelp" placeholder="Enter company Name" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Password</label>
                            <input type="password" class="form-control"
                                   v-model="customer.password"
                                   id="exampleInputPass" aria-describedby="emailHelp" placeholder="Enter password" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Confirm Password</label>
                            <input type="password" class="form-control"
                                   v-model="customer.password_confirmation"
                                   id="exampleInputCPass" aria-describedby="emailHelp" placeholder="Enter password" required>
                        </div>

                        <button class="btn btn-primary" @click="CreateCustomer">Create</button>

                </div>

            </div>
        </div>


    </section>
</template>

<script>
    export default {
        name: "CreateCustomer",
        data() {
            return {
                // customer : {},
                customer: {
                    first_name: "",
                    last_name: "",
                    email: "example@example.com",
                    phone: "+11111111111111",
                    verified_email: true,
                    addresses: [
                        {
                            address1: "123 Oak St",
                            city: "Ottawa",
                            province: "ON",
                            phone: "555-1212",
                            zip: "123 ABC",
                            last_name: "Lastnameson",
                            first_name: "Mother",
                            country: "CA"
                        }
                    ],
                    password: "",
                    password_confirmation: "",
                    send_email_welcome: false
                }
            }
        },
        methods: {
            CreateCustomer() {
                let _this = this;
                if (_this.customer.first_name !== '' && _this.customer.last_name !== '' && _this.customer.phone !== '' && _this.validEmail(_this.customer.email) ){
                    axios.post('/api/create-customer',{ customer : _this.customer})
                        .then(response => {
                            _this.$router.push({ name: 'customers' })
                        }).catch(e => {
                            console.error(e);
                        }).finally(() => {
                            this.loader = false;
                        })
                }

            },
            validEmail: function (email) {
                var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                return re.test(email);
            }
        },
        mounted() {

        }
    }
</script>

<style scoped>

</style>
