<template>
    <section>
        <div class="card">
            <div class="card-header">
                Customers
                    <router-link to="/create-customer" style="float:right;" class="nav-link btn btn-primary" >Create Customer</router-link>
            </div>
            <div class="card-body" v-if="customers.length > 0">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Customer ID</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Company</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Notes</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(cat,index) of customers">
                        <th scope="row">{{ index +1}}</th>
                        <td>{{ cat.id }}</td>
                        <td><button class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></button>
                            {{ cat.first_name }} {{ cat.last_name }} </td>
                        <td>{{ cat.email }} </td>
                        <td>{{ cat.company }} </td>
                        <td>{{ cat.phone }}</td>
                        <td>{{ cat.notes }}</td>
                        <td><button class="btn btn-danger btn-sm" @click="deleteCategory(cat.id)">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "OrderList",
        data() {
            return {
                customers: []
            }
        },
        methods: {
            getCustomers() {
                let _this = this;
                axios.get('/api/customers')
                    .then(response => {
                        _this.customers = response.data.customers;
                        console.log(response.data);
                    }).catch(e => {

                    })
            },
            deleteCategory(id) {
                let _this = this;
                axios.post('/api/delete-cat',{id:id})
                    .then(response => {
                        _this.getCategory();
                    }).catch(e => {

                })
            }
        },
        mounted() {
            this.getCustomers()
        }
    }
</script>

<style scoped>

</style>
