<template>
    <section>

        <div class="card">
            <div class="card-header">Product List
                <router-link to="/create-product" style="float:right;" class="nav-link btn btn-primary btn-sm"><i
                    class="fa fa-plus"></i> Create Product
                </router-link>
            </div>
            <div class="card-body" v-if="loader">
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>

            <div class="card-body" v-else>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" width="120px">Image</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>

                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(product,index) of products">
                        <th>{{ index + 1 }}</th>
                        <th>
                            <img :src="product.image.src" class="img-fluid" alt="">
                        </th>
                        <td><p class="mb-0">{{ product.title }}</p>
                            <p class="mb-0" v-html="product.body_html"></p></td>

                        <td>
                            <p class="mb-0" v-for="variant of product.variants">
                                {{ variant.title }} - {{ variant.price}} <span class="d-block ml-3"> └--stock Qt ({{ variant.inventory_quantity }})</span>
                            </p>
                        </td>


                        <td>
                            <router-link class="btn btn-success btn-sm"
                                         :to="{ name : 'product', params : {id : product.id}  }"><i
                                class="fa fa-eye"></i> View
                            </router-link>
                            <button class="btn btn-danger btn-sm" @click="deleteProduct(product.id)"><i
                                class="fa fa-trash"></i> Delete
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </section>
</template>

<script>
    export default {
        name: "Home",
        data() {
            return {
                loader: true,
                products: [],
                meta: '',
            }
        },
        methods: {
            getProducts() {
                axios.get('/api/all-product').then(response => {
                    this.products = response.data.products;
                    // console.log(response.data.products);
                }).catch(e => {
                    console.error(e);
                }).finally(() => {
                    this.loader = false;
                })
            },
            deleteProduct(id) {
                let _this = this;
                axios.post('/api/delete-product', {id: id})
                    .then(response => {
                        _this.getProducts();
                    }).catch(e => {

                })
            }
        },
        mounted() {
            this.getProducts();
        }
    }
</script>

<style scoped>

</style>
