<template>
    <section>
        <div class="card">
            <div class="card-header">Orders</div>
            <div class="card-body" v-if="orders.length > 0 && orders !== null">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Order ID</th>
                        <th scope="col">Products</th>
                        <th scope="col">Status</th>
                        <th scope="col">Value (inc. vat)</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(order,index) of orders">
                        <th scope="row">{{ index +1}}</th>
                        <td>{{ order.id }}</td>
                        <td>{{ order.items_total }} <button class="btn btn-primary btn-sm"><i class="fa fa-eye"></i></button> </td>
                        <td>{{ order.custom_status }}</td>
                        <td>{{ order.total_inc_tax }} {{ order.currency_code }}</td>
                        <td><button class="btn btn-danger btn-sm" @click="DeleteOrder(order.id)">Delete</button></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div v-else>
                <div class="d-flex justify-content-center">
                    <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "OrderList",
        data() {
            return {
                orders: []
            }
        },
        methods: {
            getOrders() {
                axios.get('/api/orders').then(response => {
                    this.orders = response.data;
                    console.log(response.data);
                }).catch(e => {

                })
            },
            DeleteOrder(id){
                let _this = this;
                axios.post('/api/delete-order',{id:id})
                    .then(response => {
                        _this.getOrders();
                    }).catch(e => {

                })
            }
        },
        mounted() {
            this.getOrders()
        }
    }
</script>

<style scoped>

</style>
