<template>
    <section>
        <div class="card" v-if="product != null">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img :src="product.image.src" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ product.title }}</h5>
                        <p class="card-text" v-html="product.body_html"></p>
                        <p class="card-text"><small class="text-muted">{{ product.created_at }}</small></p>
                        <router-link to="/" class="btn btn-primary btn-sm">Back</router-link>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-primary" style="width: 5rem; height: 5rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "ProductDetails",
        data() {
            return {
                product: null
            }
        },
        methods: {
            getProduct() {
                axios.get(`/api/product/${this.$route.params.id}`).then(response => {
                    this.product = response.data.product;
                    // console.log(response.data.product);
                }).catch(e => {
                    console.error(e);
                });
            }
        },
        mounted() {
            this.getProduct();
        }
    }
</script>

<style scoped>

</style>
